@model General.AreaDocumento
@{
    ViewBag.Title = "Registro AreaDocumento";
    Layout = null;
}

<form id="frmRegistroAreaDocumento" name="frmRegistroAreaDocumento" method="POST">
    <div class="card" style="box-shadow:none">
        <div class="card-head" style="text-align:center;">
            <h5 class="bold">@Model.area.NombreArea</h5>
        </div>
        <div class="card-body px-0 py-1">
            <input type="hidden" id="txtRegIdAreaDocumento" name="txtRegIdAreaDocumento" value="@Model.IdAreaDocumento" />
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label class="form-label" for="cmbCatalogoTipoDocumento">Tipo de Documento</label>
                        <select class="form-control form-select" id="cmbCatalogoTipoDocumento" name="cmbCatalogoTipoDocumento" data-validation="[V>0]" data-validation-message="Seleccione el Tipo de Documento"></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="form-label" for="optActivoAreaDocumento">Activo</label>
                        <select class="form-control form-select" id="optActivoAreaDocumento" name="optActivoAreaDocumento">
                            @if (Model.Activo == true)
                            {
                                <option value="1" selected="">Si</option>
                                <option value="0">No</option>
                            }
                            else
                            {
                                <option value="1">Si</option>
                                <option value="0" selected="">No</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer" style="text-align:end;">
            <button type="button" data-toggle="tooltip" class="btn btn-warning label" title="Actualizar tabla de registros" onclick="ActualizarTablaAreaDocumento()"> Refrescar &nbsp; <i class="fas fa-sync"></i></button>
            <button type="button" data-toggle="tooltip" class="btn btn-blue label" title="Nuevo registro" onclick="VerEditarAreaDocumento(0)"> Nuevo &nbsp;<i id="iBtnNuevoAreaDocumento()" class="ti-file"></i></button>
            <button type="submit" data-toggle="tooltip" class="btn btn-success label" title="Grabar registro"> Guardar &nbsp;<i class="ti-save"></i></button>
            <button type="button" data-toggle="tooltip" class="btn btn-danger label" title="Regresar al formulario anterior" onclick="CerrarModalAreaDocumento()"> Regresar &nbsp;<i class="ti-back-left"></i></button>
        </div>
    </div>
</form>

<script>

    function ListarCatalogoTipoDocumento() {
        $.ajax({
            url: "@Url.Action("ListarCatalogoTipoDocumento", "CatalogoTramite")",
            method: 'POST',
            success: function (listacatalogo) {
                $("#cmbCatalogoTipoDocumento").empty();
                $("#cmbCatalogoTipoDocumento").append("<option value=0>Seleccione</option>");
                $.each(listacatalogo.lista, function (i, item) {
                    if (item.IdCatalogo == "@Model.catalogotipodocumento.IdCatalogo") {
                        $("#cmbCatalogoTipoDocumento").append("<option value=" + item.IdCatalogo + " selected='selected'>" + item.Descripcion + "</option>");
                    }
                    else {
                        $("#cmbCatalogoTipoDocumento").append("<option value=" + item.IdCatalogo + ">" + item.Descripcion + "</option>");
                    }
                });
            },
            error: function (mensaje) {
                console.log(mensaje);
                toastr.error('Sucedió un error en la interface [ListarCatalogoTipoDocumento], verifique consola');
            }
        });
    }

    $(function () {

        ListarCatalogoTipoDocumento();


        $("#cmbCatalogoTipoDocumento").select2({ dropdownParent: $('#ModalAreaDocumento') }).on("select2:select", function (e) {
            $("#frmRegistroAreaDocumento").removeError("cmbCatalogoTipoDocumento")
        });;
        $("#frmRegistroAreaDocumento").validate({
            submit: {
                settings: {
                    inputContainer: '.field',
                    errorClass: 'LabelError', errorListClass: 'ListaError'
                },
                callback: {
                    onBeforeSubmit: function (node) {
                    },
                    onSubmit: function (node, formData) {
                        //var files = $("#txtRutaArchivo").get(0).files;
                        var fileData = new FormData();
                        for (var control in formData) {
                            var valor = $("#" + control).val();
                            fileData.append(control, valor);
                            valor = "";
                        }
                        //fileData.append('Archivo', files[0]);

                        fileData.append('IdArea', '@Model.area.IdArea');


                        $.ajax({
                            url: "@Url.Action("GuardarRegistroAreaDocumento", "AreaDocumento")",
                            method: 'POST',
                            data: fileData,
                            contentType: false,
                            processData: false,
                            success: function (areadocumento) {
                                if (areadocumento.mensaje.CodigoMensaje == 0) {
                                    toastr.success(areadocumento.mensaje.DescripcionMensaje);
                                    VerEditarAreaDocumento(0);
                                    ActualizarTablaAreaDocumento();
                                }
                                else {
                                    toastr.error(areadocumento.mensaje.DescripcionMensaje);
                                    console.log(areadocumento.mensaje.DescripcionMensajeSistema);
                                }
                            },
                            error: function (mensaje) {
                                console.log(mensaje);
                                toastr.error('Sucedió un error en la interface [GuardarRegistroAreaDocumento], verifique consola');
                            },
                            complete: function (respuesta) {
                                ValidarSesionActual(respuesta);
                            }
                        });
                    }
                }
            }
        });
    });
</script>








