@model General.Persona
@{
    ViewBag.Title = "Registro Persona";
    Layout = null;
}
<form id="frmRegistroPersona" name="frmRegistroPersona" method="POST">
    <input type="hidden" id="txtRegIdPersona" name="txtRegIdPersona" value="@Model.IdPersona" />
    <div class="row">
        <div class="col-12">
            <div class="card-header"><h4 class="my-0">Registro de Persona</h4></div>
            <div class="card" style="box-shadow:none">
                <div class="card-body">
                    <div class="row mb-1">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label" for="cmbCatalogoTipoPersona">Tipo Persona</label>
                                <select class="form-control form-select" id="cmbCatalogoTipoPersona" name="cmbCatalogoTipoPersona" data-validation="[V>0]" data-validation-message="Seleccione el Tipo Persona"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label" for="txtNombreCompleto">Nombre Completo</label>
                                <input type="text" class="form-control" name="txtNombreCompleto" id="txtNombreCompleto" value="@Model.NombreCompleto" data-validation="[L>=1]" data-validation-message="Ingrese el Nombre Completo">
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label" for="txtNombres">Nombres</label>
                                <input type="text" class="form-control" name="txtNombres" id="txtNombres" value="@Model.Nombres" data-validation="[L>=1]" data-validation-message="Ingrese el Nombre">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label" for="txtApellidoPaterno">Apellido Paterno</label>
                                <input type="text" class="form-control" name="txtApellidoPaterno" id="txtApellidoPaterno" value="@Model.ApellidoPaterno" data-validation="[L>=1]" data-validation-message="Ingrese el apellido paterno">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label" for="txtApellidoMaterno">Apellido Materno</label>
                                <input type="text" class="form-control" name="txtApellidoMaterno" id="txtApellidoMaterno" value="@Model.ApellidoMaterno" data-validation="[L>=1]" data-validation-message="Ingrese el apellido materno">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="form-label" for="cmbCatalogoTipoDocumentoPersonal">Tipo Doc</label>
                                <select class="form-control  form-select" id="cmbCatalogoTipoDocumentoPersonal" name="cmbCatalogoTipoDocumentoPersonal" data-validation="[V>0]" data-validation-message="Seleccione el Tipo Documento"></select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="form-label" for="txtNumeroDocumento">N° Documento</label>
                                <input type="text" class="form-control" name="txtNumeroDocumento" id="txtNumeroDocumento" value="@Model.NumeroDocumento" data-validation="[L>=1]" data-validation-message="Ingrese el Numero Documento">
                            </div>

                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label" for="cmbDepartamento">Departamento</label>
                                <select class="form-control consulta form-select" id="cmbDepartamento" name="cmbDepartamento" data-validation="[V>0]" data-validation-message="Seleccione el Departamento">
                                    <option value=0>Todos</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label" for="cmbProvincia">Provincia</label>
                                <select class="form-control consulta form-select" id="cmbProvincia" name="cmbProvincia" data-validation="[V>0]" data-validation-message="Seleccione la Provincia">
                                    <option value=0>Todos</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label" for="cmbDistrito">Distrito</label>
                                <select class=" form-control consulta form-select" id="cmbDistrito" name="cmbDistrito" data-validation="[V>0]" data-validation-message="Seleccione el Distrito">
                                    <option value=0>Todos</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label" for="txtDireccion">Direccion</label>
                                <input type="text" class="form-control" name="txtDireccion" id="txtDireccion" value="@Model.Direccion" data-validation="[L>=1]" data-validation-message="Ingrese la Direccion">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label" for="txtFechaNacimiento">Fecha Nacimiento</label>
                                <input type="text" class="form-control" name="txtFechaNacimiento" id="txtFechaNacimiento" value="@Model.FechaNacimiento">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label" for="optSexo">Sexo</label>
                                <br />
                                <select id="optSexo" name="optSexo" class="form-control form-select">
                                    @if (Model.Sexo == true)
                                    {
                                        <option value="1" selected="">FEMENINO</option>
                                        <option value="0">MASCULINO</option>
                                    }
                                    else
                                    {
                                        <option value="1">FEMENINO</option>
                                        <option value="0" selected="">MASCULINO</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer" style="text-align:right;">
                    <button type="button" data-toggle="tooltip" class="btn btn-warning waves-effect waves-light" title="Actualizar tabla de registros" onclick="ActualizarTablaPersona()"> Refrescar &nbsp;<i class="fas fa-sync"></i></button>
                    <button type="button" data-toggle="tooltip" class="btn btn-success waves-effect waves-light" title="Nuevo registro" onclick="VerEditarPersona(0)"> Nuevo &nbsp;<i id="iBtnNuevoPersona" class="ti-file"></i></button>
                    <button type="submit" data-toggle="tooltip" class="btn btn-primary waves-effect waves-light" title="Grabar registro"> Guardar &nbsp;<i class="ti-save"></i></button>
                </div>
            </div>
        </div>
    </div>
</form>


<script>
    function ListarComboDepartamento() {
        var id = $("#cmbDepartamento").val();
        $.ajax({
            url: "@Url.Action("ListarComboDepartamento", "Ubigeo")",
            method: 'POST',
            async: false,
            success: function (data) {
                $("#cmbDepartamento").empty();
                $("#cmbProvincia").empty();
                $("#cmbDistrito").empty();
                $("#cmbDepartamento").append("<option value=0>Seleccione</option>");
                $("#cmbDistrito").append("<option value=0>Seleccione</option>");
                $("#cmbProvincia").append("<option value=0>Seleccione</option>");
                $.each(data, function (i, item) {
                    $("#cmbDepartamento").append("<option value='" + item.CodigoDepartamento + "'>" + item.Departamento + "</option>");
                });
            },
            complete: function (respuesta) {
                ValidarSesionActual(respuesta);
                $('.preloader').fadeOut();
            }
        });
    }
    function ListarComboProvincia() {
        var id = $("#cmbDepartamento").val();

        $("#cmbProvincia").empty();
        $("#cmbDistrito").empty();
        $("#cmbProvincia").append("<option value=0>Seleccione</option>");
        $("#cmbDistrito").append("<option value=0>Seleccione</option>");

        if (id != 0) {
            $.ajax({
                url: "@Url.Action("ListarComboProvincia", "Ubigeo")",
                method: 'POST',
                async: false,
                data: { CodigoDepartamento: id },
                success: function (data) {
                    $.each(data, function (i, item) {
                        $("#cmbProvincia").append("<option value='" + item.CodigoProvincia + "'>" + item.Provincia + "</option>");
                    });
                },
                complete: function (respuesta) {
                    ValidarSesionActual(respuesta);
                    $('.preloader').fadeOut();
                }
            });
        }
    }
    function ListarComboDistrito() {
        var id = $("#cmbDepartamento").val();
        var id1 = $("#cmbProvincia").val();
        $("#cmbDistrito").empty();
        $("#cmbDistrito").append("<option value=0>Seleccione</option>");
        if (id1 != 0) {
            $.ajax({
                url: "@Url.Action("ListarComboDistrito", "Ubigeo")",
                method: 'POST',
                async: false,
                data: { CodigoDepartamento: id, CodigoProvincia: id1 },
                success: function (data) {

                    $.each(data, function (i, item) {
                        $("#cmbDistrito").append("<option value='" + item.IdUbigeo + "'>" + item.Distrito + "</option>");
                    });
                },
                complete: function (respuesta) {
                    ValidarSesionActual(respuesta);
                    $('.preloader').fadeOut();
                }
            });
        }
    }
    function CerrarModalPersona() {
        $("#ModalPersona").modal("hide");
        $("#divEditarPersona").empty();
        ActualizarTablaPersona();
    }


    function ListarCatalogoTipoPersona() {
        $.ajax({
            url: "@Url.Action("ListarCatalogoTipoPersona", "CatalogoGeneral")",
            method: 'POST',
            success: function (data) {
                $("#cmbCatalogoTipoPersona").empty();
                $.each(data, function (i, item) {
                    if (item.IdCatalogo == "@Model.catalogotipopersona.IdCatalogo") {
                        $("#cmbCatalogoTipoPersona").append("<option value=" + item.IdCatalogo + " selected='selected'>" + item.Descripcion + "</option>");
                    }
                    else {
                        $("#cmbCatalogoTipoPersona").append("<option value=" + item.IdCatalogo + ">" + item.Descripcion + "</option>");
                    }
                });
            },
            error: function (mensaje) {
                console.log(mensaje);
                toastr.error('Sucedió un error en la interface [ListarCatalogoTipoPersona], verifique consola');
            },
            complete: function (respuesta) {
                ValidarSesionActual(respuesta);
            }
        });
    }

    function ListarCatalogoTipoDocumentoPersonal() {
        $.ajax({
            url: "@Url.Action("ListarCatalogoTipoDocumentoPersonal", "CatalogoGeneral")",
            method: 'POST',
            success: function (data) {
                $("#cmbCatalogoTipoDocumentoPersonal").empty();
                $("#cmbCatalogoTipoDocumentoPersonal").append("<option value=0>Seleccione</option>");
                $.each(data, function (i, item) {
                    if (item.IdCatalogo == "@Model.catalogotipodocumentopersonal.IdCatalogo") {
                        $("#cmbCatalogoTipoDocumentoPersonal").append("<option value=" + item.IdCatalogo + " selected='selected'>" + item.Descripcion + "</option>");
                    }
                    else {
                        $("#cmbCatalogoTipoDocumentoPersonal").append("<option value=" + item.IdCatalogo + ">" + item.Descripcion + "</option>");
                    }
                });
            },
            error: function (mensaje) {
                console.log(mensaje);
                toastr.error('Sucedió un error en la interface [ListarCatalogoTipoDocumentoPersonal], verifique consola');
            },
            complete: function (respuesta) {
                ValidarSesionActual(respuesta);
            }
        });
    }

    function ListarComboUbigeo() {
        $.ajax({
            url: "@Url.Action("ListarComboUbigeo", "Ubigeo")",
            method: 'POST',
            success: function (data) {
                $("#cmbUbigeo").empty();
                $("#cmbUbigeo").append("<option value=0>Seleccione</option>");
                $.each(data, function (i, item) {
                    if (item.IdUbigeo == "@Model.ubigeo.IdUbigeo") {
                        $("#cmbUbigeo").append("<option value=" + item.IdUbigeo + " selected='selected'>" + item.NombreUbigeo + "</option>");
                    }
                    else {
                        $("#cmbUbigeo").append("<option value=" + item.IdUbigeo + ">" + item.NombreUbigeo + "</option>");
                    }
                });
            },
            error: function (mensaje) {
                console.log(mensaje);
                toastr.error('Sucedió un error en la interface [ListarComboUbigeo], verifique consola');
            },
            complete: function (respuesta) {
                ValidarSesionActual(respuesta);
            }
        });
    }

    $(function () {

        ListarCatalogoTipoPersona();
        ListarCatalogoTipoDocumentoPersonal();

        ListarComboDepartamento();
        $("#cmbDepartamento").val(@Model.ubigeo.CodigoDepartamento);
        ListarComboProvincia();
        $("#cmbProvincia").val(@Model.ubigeo.CodigoProvincia);
        ListarComboDistrito();
        $("#cmbDistrito").val(@Model.ubigeo.IdUbigeo);
        $("#cmbDepartamento").change(function () {
            ListarComboProvincia();
        });
        $("#cmbProvincia").change(function () {
            ListarComboDistrito();
        });
        if ("@Model.catalogotipopersona.IdCatalogo" == "10") {
            $("#txtNombreCompleto").prop("disabled", false);
            $("#txtNombres").prop("disabled", true);
            $("#txtApellidoPaterno").prop("disabled", true);
            $("#txtApellidoMaterno").prop("disabled", true);

        }
        else {


            $("#txtNombreCompleto").prop("disabled", true);
            $("#txtNombres").prop("disabled", false);
            $("#txtApellidoPaterno").prop("disabled", false);
            $("#txtApellidoMaterno").prop("disabled", false);

        }
        $("#cmbCatalogoTipoPersona").change(function () {
            if ($("#cmbCatalogoTipoPersona").val() == "9") {
                $("#txtNombreCompleto").prop("disabled", true);
                $("#txtNombres").prop("disabled", false);
                $("#txtApellidoPaterno").prop("disabled", false);
                $("#txtApellidoMaterno").prop("disabled", false);

            }
            else {
                $("#txtNombreCompleto").prop("disabled", false);
                $("#txtNombres").prop("disabled", true);
                $("#txtApellidoPaterno").prop("disabled", true);
                $("#txtApellidoMaterno").prop("disabled", true);

            }
        });










        $("#frmRegistroPersona").validate({
            submit: {
                settings: {
                    inputContainer: '.field',
                    errorClass: 'LabelError', errorListClass: 'ListaError'
                },
                callback: {
                    onBeforeSubmit: function (node) {
                    },
                    onSubmit: function (node, formData) {
                        /*
                        var files = $("#txtRutaArchivo").get(0).files;
                        var fileData = new FormData();
                        for (var key in formData) {
                            fileData.append(key, formData[key]);
                        }
                        fileData.append('Archivo', files[0]);
                        */

                        $.ajax({
                            url: "@Url.Action("GuardarRegistroPersona")",
                            method: 'POST',
                            data: formData,//fileData,
                            //contentType: false,
                            //processData: false,
                            success: function (persona) {
                                if (persona.mensaje.CodigoMensaje == 0) {
                                    toastr.success(persona.mensaje.DescripcionMensaje);
                                    $("#txtRegIdPersona").val(persona.IdPersona);
                                    ActualizarTablaPersona();
                                }
                                else {
                                    toastr.error(persona.mensaje.DescripcionMensaje);
                                    console.log(persona.mensaje.DescripcionMensajeSistema);
                                }
                            },
                            error: function (mensaje) {
                                console.log(mensaje);
                                toastr.error('Sucedió un error en la interface [GuardarRegistroPersona], verifique consola');
                            },
                            complete: function (respuesta) {
                                ValidarSesionActual(respuesta);
                            }
                        });
                    }
                }
            }
        });
    });
</script>
